/CA1_Model_env
/CA1_model_env
/network
/output
/biophys_components/mechanisms/modfiles/*.[co]
/CA1_inputs
/updated_conns
/CA1Results
*.png
*.txt
*.h5
*.hdf5
*.html
*.pkl
.DS_Store
/nrn
/.libs
/.idea
/.ipynb_checkpoints
/__pycache__